{% from 'shared/macros/form_control.html' import form_control %}
{% extends 'shared/content.html' %}

{% set current_page = 'configurations' %}

{% block title %}
{{ _t("Update", request.state.locale )}} {{ _t("configuration", request.state.locale )}}
{% endblock title %}

{% block title_right %}
<button type="submit" form="update-configuration-form" class="btn btn-primary">{{ _t("Save", request.state.locale )
  }}</button>
{% endblock title_right %}

{% block main %}
<form id="update-configuration-form" method="post">
  <div class="row g-5 align-items-center mb-3">
    <div class="col">
      <label for="id" class="form-label">id</label>
      <input type="text" class="form-control" name="id" value="{{id}}" disabled>
    </div>
  </div>
  <div class="row g-3">
    <div class="mb-3 col-md-6">
      {{ form_control(_t("code", request.state.locale ), "text", errors.code if errors and errors.code else None,
      "code", (values.code if has_error else configuration.code), true) }}
    </div>
    <div class="mb-3 col-md-6">
      <label class="form-label">{{ _t("module", request.state.locale) }}</label>
      <select class="form-select" name="module_id">
        <option value="{{null}}"></option>
        {% for m in modules %}
        <option value="{{m.id}}" {{'selected' if m.id==(values.module_id if has_error else configuration.module_id)}}>
          {{ m.code + ' - ' + m.webname }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
</form>
{% endblock main %}