{% from 'shared/macros/form_control.html' import form_control %}
{% extends 'shared/content.html' %}

{% set current_page = 'configurations' %}

{% block title %}
{{ _t("Create", request.state.locale )}} {{ _t("configuration", request.state.locale )}}
{% endblock title %}

{% block title_right %}
<button type="submit" form="create-configuration-form" class="btn btn-primary">{{ _t("Save", request.state.locale ) }}</button>
{% endblock title_right %}

{% block main %}
<form id="create-configuration-form" method="post">
  <div class="row g-3">
    <div class="mb-3 col-md-6">
      {{ form_control(_t("code", request.state.locale ), "text", errors.code if errors and errors.code else None,
      "code", (values.code if has_error else code), true) }}
    </div>
    <div class="mb-3 col-md-6">
        <label class="form-label">{{ _t("module", request.state.locale) }}</label>
        <select class="form-select" name="module_id">
        <option value="{{null}}"></option>
          {% for m in modules %}
          <option value="{{m.id}}" {{'selected' if m.id==(values.module_id if has_error else module_id)}}>
            {{ m.code + ' - ' + m.webname }}
          </option>
          {% endfor %}
        </select>
      </div>
  </div>
</form>
{% endblock main %}