{% from 'shared/macros/form_control.html' import form_control %}
{% extends 'shared/content.html' %}

{% set current_page = 'groups' %}

{% block title %}
Create group
{% endblock title %}

{% block title_right %}
<button type="submit" form="create-group-form" class="btn btn-primary">Save</button>
{% endblock title_right %}

{% block main %}
<form id="create-group-form" method="post">
  <div class="row g-3">
    <div class="mb-3 col-md-6">
      {{ form_control("code", "text", errors.code if errors and errors.code else None, "code", code, true) }}
    </div>
    <div class="mb-3 col-md-6">
      {{ form_control("webname", "text", errors.webname if errors and errors.webname else None, "webname", webname, true) }}
    </div>
  </div>
</form>
{% endblock main %}