{% extends 'shared/content.html' %}

{% set current_page = 'groups' %}

{% block title_right %}
<a class="btn btn-success" href="{{ url_for('group_create') }}">Create group</a>
{% endblock title_right %}

{% block main %}
<form method="get" class="d-flex justify-content-end mb-3">
  <div class="me-2">
    <input type="text" class="form-control" name="target" placeholder="search" value="{{ target if target else '' }}">
  </div>
  <div>
    <button type="submit" class="btn btn-outline-info">Filter</button>
  </div>
  </div>
</form>
<div class="table-responsive"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">code</th>
      <th scope="col">webname</th>
      <th scope="col">active</th>
      <th scope="col" class="text-end"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in content %}
    <tr>
      <td>{{ item.code }}</td>
      <td>{{ item.webname }}</td>
      <td>
        {% if item.active%}
        <i class="text-success bi bi-check-circle-fill"></i>
        {% else %}
        <i class="text-danger bi bi-x-circle-fill"></i>
        {% endif %}
      </td>
      <td class="text-end">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('group_update', id=item.id) }}">
          <i class="bi bi-pencil"></i>
        </a>
        <button class="btn btn-sm btn-outline-danger" data-code={{item.code}} data-id={{item.id}} onclick="openDeleteModal(this)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'shared/paginator.html' %}
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete group {{code}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>Perform delete operation to the group with code:</div>
        <div id="codeElement"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form method="post" action="{{url_for('group_delete_perform', id=0)}}" id="deleteForm">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block scripts %}
<script>
  function openDeleteModal(me) {
    const code = me.dataset.code
    const id = me.dataset.id
    const codeModalElement = document.getElementById("codeElement")
    const deleteForm = document.getElementById("deleteForm")
    const lastUrl = deleteForm.getAttribute("action")
    const baseUrl = lastUrl.substr(0, lastUrl.lastIndexOf("/") + 1)
    codeModalElement.innerHTML = code
    deleteForm.setAttribute("action", baseUrl + id)
    const modal = new bootstrap.Modal(document.getElementById('deleteModal'))
    modal.show()
  }
</script>
{% endblock scripts %}