{% from 'shared/macros/form_control.html' import form_control %}
{% extends 'shared/content.html' %}

{% set current_page = 'modules' %}

{% block title %}
{{ _t("Create", request.state.locale )}} {{ _t("resource", request.state.locale )}}
{% endblock title %}

{% block title_right %}
<button type="submit" form="create-role-form" class="btn btn-primary">{{ _t("Save", request.state.locale ) }}</button>
{% endblock title_right %}

{% block main %}
<form id="create-role-form" method="post">
  <div class="row g-5 align-items-center mb-3">
    <div class="col">
      <label for="id" class="form-label">module</label>
      <input type="text" class="form-control" name="id" value="{{module.code}}" disabled>
    </div>
  </div>
  <div class="row g-3">
    <div class="mb-3 col-md-6">
      {{ form_control(_t("code", request.state.locale ), "text", errors.code if errors and errors.code else None,
      "code", (values.code if has_error else code), true) }}
    </div>
  </div>
</form>
{% endblock main %}