{% from 'shared/macros/modal_delete.html' import modal_delete with context %}
{% from 'shared/macros/paginator.html' import paginator with context %}
{% extends 'shared/content.html' %}

{% set current_page = 'modules' %}

{% block title_right %}
<a class="btn btn-success" href="{{ url_for('module_create') }}">
  {{ _t("Create", request.state.locale )}} {{ _t("module", request.state.locale )}}
</a>
{% endblock title_right %}

{% block main %}
<form method="get" class="d-flex justify-content-end mb-3">
  <div class="me-2">
    <div class="input-group">
      <i class="input-group-text bi bi-search"></i>
      <input type="text" class="form-control" name="target" value="{{ target if target else '' }}">
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-outline-info">{{ _t("Filter", request.state.locale )}}</button>
  </div>
  </div>
</form>
<div class="table-responsive"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ _t("code", request.state.locale) }}</th>
      <th scope="col">{{ _t("webname", request.state.locale) }}</th>
      <th scope="col" class="text-end"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in content %}
    <tr>
      <td>{{ item.code }}</td>
      <td>{{ item.webname }}</td>
      <td class="text-end">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('module_update', id=item.id) }}">
          <i class="bi bi-pencil"></i>
        </a>
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('module_resource_list', id=item.id) }}">
          <i class="bi bi-star"></i>
        </a>
        <button class="btn btn-sm btn-outline-danger" data-code="{{item.code}}" data-id="{{item.id}}"
          onclick="openDeleteModal(this)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ paginator(total, size) }}
</div>
{{ modal_delete(_t("Delete", request.state.locale ) + " " + _t("module", request.state.locale ), 'module_delete_perform') }}
{% endblock main %}