{% extends 'shared/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SAAS DEV <small class="text-muted">by ainia</small></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{'active' if current_page == 'groups'}}" aria-current="page" href="{{ url_for('group_list') }}">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{'active' if current_page == 'roles'}}" aria-current="page" href="{{ url_for('role_list') }}">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{'active' if current_page == 'users'}}" aria-current="page" href="{{ url_for('user_list') }}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{'active' if current_page == 'modules'}}" aria-current="page" href="#">Modules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{'active' if current_page == 'configurations'}}" aria-current="page" href="#">Configurations</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{request.state.principal_username or "anonymous"}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <!-- TODO mmr form to remove token and go to login -->
            <li><a class="dropdown-item" href="{{ url_for('admin_logout')}}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="d-sm-flex justify-content-between align-items-top mb-4">
    <h1 class="display-4">{% block title %}{{current_page|capitalize}}{% endblock title %}</h1>
    <div class="mt-2">{% block title_right %}{% endblock title_right %}</div>
  </div>
  <div>
    {% block main %}{% endblock main %}
  </div> 
  {% if msg and msg|length > 0 %}
  <div class="alert alert-{{type}} alert-dismissible fade show" role="alert" style="position: fixed; bottom: 10px;; right:10px">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
</div>

{% endblock content %}