{% extends 'shared/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SAAS DEV <small class="text-muted">by ainia</small></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{'active' if page == 'groups'}}" aria-current="page" href="#">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{'active' if page == 'roles'}}" aria-current="page" href="#">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{'active' if page == 'modules'}}" aria-current="page" href="#">Modules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{'active' if page == 'configurations'}}" aria-current="page" href="#">Configurations</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            username
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="display-4">{% block title %}{{page|capitalize}}{% endblock title %}</h1>
    <div>{% block title_right %}buttons here{% endblock title_right %}</div>
  </div>
  <div>
    {% block main %}{% endblock main %}
  </div> 
</div>

{% endblock content %}